<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="https://svgsilh.com/svg/146585-e91e63.svg" class="logo" alt="alugaFacil">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let imovel of imoveis" button (click)="showDetails(imovel)">
      <img [src]="imovel.img" alt="">
      <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <p> {{imovel.nome}}<br>
                  <small>{{imovel.bairro}}</small>
              </p>
            </ion-col>
            <ion-col size="auto" class="ion-no-padding" style="margin-left: auto">   
              <ion-text color="primary">
                <h1 class="card-valor">{{ imovel.valor | currency:'BRL' }}</h1>
              </ion-text>
            </ion-col>
          </ion-row>
        
      </ion-card-content>
    </ion-card>
  </ion-content>
